/**
 * @name Deshittify Catppuccin Mocha
 * @author winston#0001, Sannyro
 * @authorId 505490445468696576
 * @version 0.2.0
 * @description 🎮 Soothing pastel theme for Discord, with some reverted changes
 * @website https://github.com/catppuccin/discord
 * @invite r6Mdz5dpFc
 * **/

@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha.theme.css");

/* adjust the textarea to match with Profile box */
.channelTextArea_f75fb0 {
    margin-bottom: var(--space-8);
}

/* Readjust whole Profile box to match with background and be aligned with message box */
.panels_c48ade {
    width: calc(100%) !important;
    left: 0 !important;
    border-bottom: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    padding: 5.5px;
    bottom: 0px !important;
    border-top-width: 1px !important;
}

.sidebar_c48ade::after {
    display: none !important;
}

.icon__6e9f8, .childWrapper__6e9f8 {
    border-radius: 50% !important;
}